@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Gloria+Hallelujah|Leckerli+One|Merienda+One|Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
body{
    background: lightcyan;
}

.ret{
    font-family: 'Bad Script', cursive;
    font-size:31px;
}

.set{
    font-family: 'Merienda One', cursive;
    margin-left:85px;
}

.silka{
    color:black;
    text-decoration:none;
    font-family: 'Monoton', cursive;
    font-size:50px;
}
a:hover{
    color: red;
    background: lightskyblue;
    background: size 15;px;
}

.sert{
    font-family: 'Bad Script', cursive;
    font-size:30px;
    color: crimson;
}
.sert1{
    font-family: 'Bad Script', cursive;
    font-size:30px;
    color:orchid;
}
.get{
    font-family: 'Merienda One', cursive;
    margin-left:150px;
    font-size:80px;  
    color: hotpink;    
}
.girls{
    margin-left:50px;
    color:lightskyblue;
    text-decoration:none;
    font-family: cursive;
    font-size:50px;

}
.silka_girls{
    color: violet;
    text-decoration:none;
    font-family:"Pangolin" cursive;
    font-size:50px;
}
.boys{
    margin-left:70px;
    color: violet;
    text-decoration:none;
    font-family: cursive;
    font-size:50px;

}
.silka_boys{
    color: lightskyblue;
    text-decoration:none;
    font-family:"Pangolin" cursive;
    font-size:50px;
}
.ftyf{
    font-family: 'Merienda One', cursive;
    margin-left:150px;
    font-size:80px;  
    color: lightskyblue;    
}